.table {
    width: 1510px;
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}
.table--cell--none {
    width: 170px;
    height: 250px;
    background-color: #95E1D3;

}
.table--cell {
    width: 234px;
    height: 250px;
    background-color: #95E1D3;
}
div:not(:first-child) {
    margin-left: 2px;
}
.table--number {
    color: #ffffff;
    font-family: Raleway;
    font-style: Mixed;
    font-size: 64px;
    line-height: 75.14;
    line-height: 100%;
    text-align: center;
    padding-top: 80px;
    font-weight: 700;
}
.table--text {
    color: #ffffff;
    font-family: Raleway;
    font-style: Mixed;
    font-size: 24px;
    line-height: 28.18;
    line-height: 100%;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
}